body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

.div {
    width: 100%;
    height: 100%;
    padding-top: 240px;
    background: #fff url(//sqimg.qq.com/qq_product_operations/im/2015/brand.png) no-repeat center top;
}

.span {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    margin-right: 5px;
    position: relative;
}

.ospan {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 5px 5px;
    padding: 5px 5px;
    list-style: none;
    display: inline-block;
    line-height: 20px;
    height: 22px;
    padding: 0 7px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    font-size: 12px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    margin-right: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.top {
    color: rgba(0, 0, 0, .65);
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 22px;
}

.left {
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0;
}

.right {
    position: relative;
    left: 85%;
    top: -50px;
}

.ant-layout-content {
    min-height: 0;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.one {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 20px;
    height: 22px;
    padding: 0 7px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    font-size: 12px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    margin-right: 8px;
    cursor: pointer;
    white-space: nowrap;
    color: #1890ff;
    background: #e6f7ff;
    border-color: #91d5ff;
}

.two {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 20px;
    height: 22px;
    padding: 0 7px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    font-size: 12px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    margin-right: 8px;
    cursor: pointer;
    white-space: nowrap;
    color: #2f54eb;
    background: #f0f5ff;
    border-color: #adc6ff;
}

.three {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 20px;
    height: 22px;
    padding: 0 7px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    font-size: 12px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    margin-right: 8px;
    cursor: pointer;
    white-space: nowrap;
    color: #fa8c16;
    background: #fff7e6;
    border-color: #ffd591;
}

.bottom {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 10px 0px 0px 10px;
    list-style: none;
    display: inline-block;
    position: relative;
    color: #1890ff;
    border-color: #91d5ff;
}

.momo {
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px;
    padding: 24px;
}

h2 {
    padding: 20px 0px;
    margin-top: 10px;
}

h4 {
    margin: 10px 0px;
}

.content {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    margin: 0px auto;
}

.ant-form {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ant-form-item-control {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 24px;
    vertical-align: top;
}

.add-exam-type {
    margin: 20px 0px 15px 0px;
    color: rgba(0, 0, 0, 0.85);
}

.ant-form-item-required:before {
    display: inline-block;
    margin-right: 4px;
    content: '*';
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}

.ant-form-item-required:after {
    content: ':';
    margin: 0 8px 0 2px;
    position: relative;
    top: -0.5px;
}

.add-time-picker {
    margin-right: 10px;
}

.ant-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    box-sizing: border-box;
}

.ant-exam {
    flex: auto;
    min-height: 0;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.add-exam-ipt {
    width: 200px;
}

.add-exam-btn {
    width: 136px;
    height: 32px;
    margin-top: 25px;
}

.add-h3 {
    margin: 15px 0px;
}

.antd-h4-add {
    padding: 0 0 8px;
    margin: 10px 0px;
    display: block;
    text-align: left;
    line-height: 1.5;
    white-space: initial;
}

.adduser-btn {
    margin-right: 10px;
}

.add-h2 {
    padding: 20px 0px;
    margin-top: 10px;
}

.add-submit {
    margin-top: 20px;
}

.addUser_wrapper__3qQDv {
    width: 30%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 281px;
    cursor: pointer;
}

.add-inp {
    margin: 15px 0px;
}

.antd-exam {
    width: 160px;
}

.antd-title {
    width: 160px;
}

.list-title {
    margin-right: 20px;
}

/* .ant-layout-content {
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px;
} */

.ant-table-wrapper {
    zoom: 1;
    margin-top: 15px;
}

.ant-layout-content {
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px
}

.antd-student {
    margin-right: 10px;
    display: inline-block;
}

.question-list {
    position: relative;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
}

.question-right {
    position: absolute;
    right: 6%;
}

.lable-list {
    margin-right: 15px;
}

.style_table__12_WF {
    box-sizing: border-box;
    border-radius: 4px;
}

label {
    display: inline-block;
    margin: 0px 15px 0px 0px;
}

.label-add {
    font-size: 13px;
    margin-top: 15px;
}

.for-container {
    width: auto;
    height: 300px !important;

}

.for-editor-block {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 70%;
    position: relative;
}

.for-line-num {
    list-style: none;
    background: #eee;
    padding: 8px 0 20%;
    min-width: 30px;
    display: block;
    text-align: center;
}

.foricon {
    font-family: "foricon" !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 8px 0;
    font-family: inherit;
    display: block;
    height: 100%;
    width: 95%;
    overflow: hidden;
    resize: none;
    border: none;
    outline: none;
    font-size: inherit;
    color: rgba(0, 0, 0, 0.65);
    background: lavender;
    line-height: inherit;
}

::-webkit-scrollbar {
    width: 0px;
}

.cont {
    max-height: 580px;
    overflow: scroll !important;
    ;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.ant-avatar {
    margin-right:10px !important;
}

.BasicLayout_logout__D7-6i {
    background: #001529;
    margin-top: 12px;
    border:  0px;
    color:#ccc;
    float: right;
}